include "header.tpl"

<div class="jumbotron">
    <h1>DevComponents</h1>
    <p>Components: Shareable, discreet.<br>Modules: Bigger modules that may include multiple components</p>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
    	<h2>Components</h2>
	      <ul class="list-group">
	       	<li class="list-group-item"><a href="pagination.html">Pagination</a> <span class="label label-danger">Ruby</span></li>
	      </ul>
    </div>

    <div class="col-lg-6 col-md-6">
    	<h2>Modules</h2>
	      <ul class="list-group">
       		<li class="list-group-item"><a href="#">BC List Item</a></li>
       		<li class="list-group-item"><a href="#">Carousel</a> <span class="label label-primary">JS</span></li>
	      </ul>
    </div>
</div>

include "footer.tpl"
