include "header.tpl"

<div class="row">
    <div class="col-lg-12">
      <h1>Pagination</h1>

      <h4>Relevant files: </h4>
      <ul>
      	<li>pagination_helper.rb</li>
      	<li>shared/_pagination.erb</li>

      </ul>

      <h4>Dependencies</h4>
      <p>List parameter "total_pages" and "page"</p>

      
    </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#usage" data-toggle="tab">Usage & Output</a></li>
  <li><a href="#code" data-toggle="tab">Ruby Code</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="usage">
    <h2>Usage</h2>
    <pre class="language-ruby"><code class="language-ruby"><%= get_pager(@list, false) %></code></pre>

    <h2>Output</h2>
    <pre class="language-markup"><code class="language-markup"></code></pre>


  </div><!-- /.tab-pane #usage -->
  <div class="tab-pane" id="code">
    <h2>The Brains</h2>

<pre class="language-ruby"><code class="language-ruby">def get_pager(list, has_facets = true)
  unless list
    return 
  end

  total_pages   = list.total_pages
  current_page  = list.page + 1

  if total_pages == 1 
    return 
  end
  
  # Next/Prev
  forward_show  = current_page != total_pages
  backward_show = current_page != 1

  # Figure out start page
  if current_page &lt;= 5
    start_page = 1
  else 
    start_page = current_page - 3
  end 

  # Figure out last page
  potential_last_page = current_page + 3

  if current_page &lt;= 5
    # Shows 1-5 always. 
    # 1,2,3,[4],5,6,7...
    if total_pages > 7
      end_page = 7 
    else
      end_page = total_pages
    end
  else
    # Shows current-3 and current+3 (similar to ebay &amp; google method)
    # 15,16,17,[18],19,20,21
    if potential_last_page > total_pages
      end_page = total_pages
    else 
      end_page = potential_last_page
    end 
  end

  if total_pages > 5 &amp;&amp; has_facets == true
    show_facet_message = true
  end

  render :partial => "shared/pagination.html.erb", :locals => {
    :list             => list,
    :total_pages      => total_pages,
    :current_page     => current_page,
    :start_page       => start_page,
    :end_page         => end_page,
    :forward_show     => forward_show,
    :backward_show    => backward_show,
    :show_facet_message => show_facet_message
  }

end
</code></pre>


  </div><!-- /.tab-pane #code -->
</div><!-- /.tab-content -->


include "footer.tpl"
