$icon-font-path: "fonts/";

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import 'variables.scss';
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
	
}

h1, h2, h3, h4, h5,
.navbar-brand  {
	font-family: 'Open Sans', sans-serif;
}
